# Imbalanced Dataset Handling

1. Upsampling 
2. Downsampling

In [1]:
import numpy as np
import pandas as pd

In [3]:
# set the random seed for reproducibility
np.random.seed(123)

# create a dataframe with two classes

n_smaples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_smaples*class_0_ratio)
n_class_1 = n_smaples-n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [6]:
class_0 = pd.DataFrame({
'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
'target':[0]*n_class_0})

class_1 = pd.DataFrame({
'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
'target':[1]*n_class_1})

In [8]:
df= pd.concat([class_0,class_1]).reset_index(drop=True)

In [9]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[1000 rows x 3 columns]

In [10]:
df.target.value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

In [13]:
df_minority = df[df.target==1].reset_index(drop=True)
df_majority = df[df.target==0].reset_index(drop=True)

In [14]:
df_minority.head()

   feature_1  feature_2  target
0  -0.300232   0.139033       1
1  -0.632261   0.025577       1
2  -0.204317  -0.196443       1
3   0.213696   1.312255       1
4   1.033878   1.187417       1

In [15]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [17]:
## Upsampling perform
from sklearn.utils import resample

In [18]:
df_minority_upsample = resample(df_minority,replace=True, ## Sample With replacement
                                n_samples=len(df_majority), # to match majority class
                                random_state=42
                                )

In [19]:
df_minority_upsample.shape

(900, 3)

In [20]:
df_minority_upsample.head()

    feature_1  feature_2  target
51  -0.874146  -0.156083       1
92   0.196570  -0.602575       1
14  -0.067830   0.998053       1
71   0.272825   1.034197       1
60   0.870056  -0.449515       1

In [21]:
df_minority_upsample.target.value_counts()

1    900
Name: target, dtype: int64

In [22]:
df_upsample = pd.concat([df_majority,df_minority_upsample])

In [24]:
df_upsample.target.value_counts()

0    900
1    900
Name: target, dtype: int64

## Downsampling

In [25]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[1000 rows x 3 columns]

In [26]:
df_minority = df[df.target==1].reset_index(drop=True)
df_majority = df[df.target==0].reset_index(drop=True)

In [27]:
df_majority_downsample = resample(df_majority,
                                  replace=False,
                                  n_samples=len(df_minority),
                                  random_state=42)

In [28]:
df_majority_downsample

     feature_1  feature_2  target
70    0.468439   1.720920       0
827   1.089165  -0.464899       0
231   0.753869  -0.969798       0
588   0.588686  -0.704720       0
39    0.283627   1.012868       0
..         ...        ...     ...
398  -0.168426   0.553775       0
76   -0.403366   0.081491       0
196  -0.269293   0.611238       0
631  -0.295829   0.671673       0
751  -0.553404   0.804438       0

[100 rows x 3 columns]

In [30]:
df_majority_downsample.shape

(100, 3)

In [31]:
df_downsample = pd.concat([df_minority,df_majority_downsample])

In [32]:
df_downsample.target.value_counts()

1    100
0    100
Name: target, dtype: int64